main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square{
    border: 2px white solid;
    background-color: #4ACFFF;
    height: 200px;
    border-radius: 10px;

}

#outerWrapper
{
    margin:auto;
    width:auto;
    transform: translate(30%, 0);
}
