<div id="outerWrapper">
    <div id="gameWrapper">
        <h1>Tic Tac Toe</h1>
        <h2> Current Player: {{ player }} </h2>

        <button class="buttonStyle"(click)="newGame()">New Game</button>

        <h2 *ngIf="winner" > Player {{ winner }} won the game! </h2>

        <main>
            <app-square 
                *ngFor="let val of squares; let i = index"
                [value]="val"
                (click)="makeMove(i)">

            </app-square>
        </main>
    </div><!--end gameWrapper-->

</div><!--end outerWrapper-->